body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
}

.on-open {
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFEF6FA;
  -webkit-mask-image: radial-gradient(#000000FA, transparent);
  mask-image: radial-gradient(#000000FA, transparent);
}

.on-open img {
  width: 200px;
  height: 200px;
  aspect-ratio: 5/5;
  object-fit: cover;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  animation: pulse 2s ease;
  
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #FFFFFF;
  }
  50%{
    box-shadow: 0 0 10px 10px #000000;
    transform: scale(1.5);
  }100%{
    box-shadow: 0 0  #FFFCFC;
    transform: scale(1);
  }
}