




body{
  width: 100vw;
  min-height: 100vh;
  margin:0;
}

.on-open{
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFEF6FA;
  -webkit-mask-image: radial-gradient(#000000FA, transparent);
}
.on-open img{
  width: 200px;
  height: 200px;
  aspect-ratio: 5/5;
  object-fit: cover;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  
}